In [126]:
import pandas as pd
import numpy as np

In [127]:
df = pd.read_csv('gari_import.csv')
df

,Company,Model,Year,Color,Engine_Capacity,Fuel_Type,Mileage,Auction_Grade,Price
0,TOYOTA,VOXY HYBRID,2020,BLACK,1800,HYBRID,69777,4.5,3500000
1,TOYOTA,ESQUIRE,2020,BLACK,1800,HYBRID,92500,3.5,3700000
2,TOYOTA,ESQUIRE,2020,PEARL,1800,HYBRID,97000,3.5,4000000
3,TOYOTA,COROLLA,2020,PEARL,1800,HYBRID,33000,4.5,3600000
4,Toyota,Corolla Cross,2021,Redwine,1800,Hybrid,30000,4.5,4850000
...,...,...,...,...,...,...,...,...,...
989,TOYOTA,AXIO HYBRID,2015,SILVER,Unknown,52940,Unknown,"1,600,000 Taka",Unknown
990,TOYOTA,AXIO HYBRID,2015,BEIGE,1500,HYBRID,97000,4,1530000
991,TOYOTA,AXIO HYBRID,2015,SILVER,1500,Gasoline,74000,4,1650000
992,Toyota,CHR,2017,Unknown,1800,Hybrid,1880,5,3150000
993,TOYOTA,PRIUS,2016,BEIGE,1800,HYBRID,19000,4,2500000

In [128]:
df = df.replace("Unknown", np.nan)
df = df.dropna(thresh=df.shape[1]-2)
df = df.reset_index(drop=True)
df

,Company,Model,Year,Color,Engine_Capacity,Fuel_Type,Mileage,Auction_Grade,Price
0,TOYOTA,VOXY HYBRID,2020,BLACK,1800,HYBRID,69777,4.5,3500000
1,TOYOTA,ESQUIRE,2020,BLACK,1800,HYBRID,92500,3.5,3700000
2,TOYOTA,ESQUIRE,2020,PEARL,1800,HYBRID,97000,3.5,4000000
3,TOYOTA,COROLLA,2020,PEARL,1800,HYBRID,33000,4.5,3600000
4,Toyota,Corolla Cross,2021,Redwine,1800,Hybrid,30000,4.5,4850000
...,...,...,...,...,...,...,...,...,...
968,TOYOTA,AXIO HYBRID,2015,SILVER,1500,HYBRID,74000,R,1610000
969,TOYOTA,AXIO HYBRID,2015,BEIGE,1500,HYBRID,97000,4,1530000
970,TOYOTA,AXIO HYBRID,2015,SILVER,1500,Gasoline,74000,4,1650000
971,Toyota,CHR,2017,NaN,1800,Hybrid,1880,5,3150000
972,TOYOTA,PRIUS,2016,BEIGE,1800,HYBRID,19000,4,2500000

In [129]:
df['Company'] = df['Company'].str.upper()
df

,Company,Model,Year,Color,Engine_Capacity,Fuel_Type,Mileage,Auction_Grade,Price
0,TOYOTA,VOXY HYBRID,2020,BLACK,1800,HYBRID,69777,4.5,3500000
1,TOYOTA,ESQUIRE,2020,BLACK,1800,HYBRID,92500,3.5,3700000
2,TOYOTA,ESQUIRE,2020,PEARL,1800,HYBRID,97000,3.5,4000000
3,TOYOTA,COROLLA,2020,PEARL,1800,HYBRID,33000,4.5,3600000
4,TOYOTA,Corolla Cross,2021,Redwine,1800,Hybrid,30000,4.5,4850000
...,...,...,...,...,...,...,...,...,...
968,TOYOTA,AXIO HYBRID,2015,SILVER,1500,HYBRID,74000,R,1610000
969,TOYOTA,AXIO HYBRID,2015,BEIGE,1500,HYBRID,97000,4,1530000
970,TOYOTA,AXIO HYBRID,2015,SILVER,1500,Gasoline,74000,4,1650000
971,TOYOTA,CHR,2017,NaN,1800,Hybrid,1880,5,3150000
972,TOYOTA,PRIUS,2016,BEIGE,1800,HYBRID,19000,4,2500000

In [130]:
df['Model'] = df['Model'].str.replace('-', '').str.capitalize()
df['Color'] = df['Color'].str.capitalize()
df['Fuel_Type'] = df['Fuel_Type'].str.capitalize()
df

,Company,Model,Year,Color,Engine_Capacity,Fuel_Type,Mileage,Auction_Grade,Price
0,TOYOTA,Voxy hybrid,2020,Black,1800,Hybrid,69777,4.5,3500000
1,TOYOTA,Esquire,2020,Black,1800,Hybrid,92500,3.5,3700000
2,TOYOTA,Esquire,2020,Pearl,1800,Hybrid,97000,3.5,4000000
3,TOYOTA,Corolla,2020,Pearl,1800,Hybrid,33000,4.5,3600000
4,TOYOTA,Corolla cross,2021,Redwine,1800,Hybrid,30000,4.5,4850000
...,...,...,...,...,...,...,...,...,...
968,TOYOTA,Axio hybrid,2015,Silver,1500,Hybrid,74000,R,1610000
969,TOYOTA,Axio hybrid,2015,Beige,1500,Hybrid,97000,4,1530000
970,TOYOTA,Axio hybrid,2015,Silver,1500,Gasoline,74000,4,1650000
971,TOYOTA,Chr,2017,NaN,1800,Hybrid,1880,5,3150000
972,TOYOTA,Prius,2016,Beige,1800,Hybrid,19000,4,2500000

In [131]:
numeric_columns = ['Year', 'Engine_Capacity', 'Mileage', 'Price']  # Replace with your column names
df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric).astype('Int64')
df.dtypes

Company            object
Model              object
Year                Int64
Color              object
Engine_Capacity     Int64
Fuel_Type          object
Mileage             Int64
Auction_Grade      object
Price               Int64
dtype: object

In [132]:
n_col = ['Year', 'Engine_Capacity']
n_df = df[n_col]
Q1 = n_df.quantile(0.25)
Q3 = n_df.quantile(0.75)
IQR = Q3 - Q1

df = df[~((n_df < (Q1 - 1.5 * IQR)) | (n_df > (Q3 + 1.5 * IQR))).any(axis=1)]
df

,Company,Model,Year,Color,Engine_Capacity,Fuel_Type,Mileage,Auction_Grade,Price
0,TOYOTA,Voxy hybrid,2020,Black,1800,Hybrid,69777,4.5,3500000
1,TOYOTA,Esquire,2020,Black,1800,Hybrid,92500,3.5,3700000
2,TOYOTA,Esquire,2020,Pearl,1800,Hybrid,97000,3.5,4000000
3,TOYOTA,Corolla,2020,Pearl,1800,Hybrid,33000,4.5,3600000
4,TOYOTA,Corolla cross,2021,Redwine,1800,Hybrid,30000,4.5,4850000
...,...,...,...,...,...,...,...,...,...
964,TOYOTA,Axio wxb hybrid,2019,Pearl,1500,Hybrid,1600,R,3100000
965,TOYOTA,Chr,2017,NaN,1800,Hybrid,28500,4.5,3300000
966,TOYOTA,Chr,2017,NaN,1800,Gasoline+hybrid,28000,5 AA,3250000
971,TOYOTA,Chr,2017,NaN,1800,Hybrid,1880,5,3150000
972,TOYOTA,Prius,2016,Beige,1800,Hybrid,19000,4,2500000

In [133]:
df.to_csv('u_import')